@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

@font-face {
  font-family: "DINAlternate";
  src: url("../fonts/DIN/DIN\ Alternate.ttf") format("truetype");
}
@font-face {
  font-family: "DINAlternate-Black";
  src: url("../fonts/DIN/DIN\ Alternate\ Black.ttf") format("truetype");
}
@font-face {
  font-family: "DINAlternate-Bold";
  src: url("../fonts/DIN/DIN\ Alternate\ Bold.ttf") format("truetype");
}
@font-face {
  font-family: "DINAlternate-Light";
  src: url("../fonts/DIN/DIN\ Alternate\ Light.ttf") format("truetype");
}
@font-face {
  font-family: "DINAlternate-Medium";
  src: url("../fonts/DIN/DIN\ Alternate\ Medium.ttf") format("truetype");
}
@font-face {
  font-family: "DIN-Black";
  src: url("../fonts/DIN/DIN\ Black.ttf") format("truetype");
}
@font-face {
  font-family: "DIN-Light";
  src: url("../fonts/DIN/DIN\ Light.ttf") format("truetype");
}
@font-face {
  font-family: "DIN-Medium";
  src: url("../fonts/DIN/DIN\ Medium.ttf") format("truetype");
}
